<div class="content">
    <div class="intro">
        <div class="quick-info">
            <p>Hello, I am</p>
            <h3>Azimbek Abdipattayev</h3>
            <p>Student at KBTU, Future .NET Developer</p>
        </div>
    </div>
    <div class="info">
        <div class="about-me">
            <h2>About me</h2>
            <h4>Simple country guy, who loves to create</h4>
            <p>
                i'm 20 years old. Born and raised in Kazakhstan.
                Computer science student at <a href="https://kbtu.edu.kz/en/" target="_blank">KBTU</a>
                Currently focusing on .NET Development.
            </p>
        </div>
        <div class="skills">
            <h2>My Skills</h2>
            <ul class="check-list">
                <li>Python - Django</li>
                <li>C# - .NET Core</li>
                <li>Java</li>
                <li>JavaScript - Angular</li>
                <li>Linux</li>
                <li>Databases</li>
                <li>Git</li>
                <li>HTMl5, CSS3</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <a href="https://t.me/therealazimbek" target="_blank">
            <img src="~/images/telegram.png" alt="" />
        </a>
        <a href="https://wa.me/77076843612?text=Hi" target="_blank">
            <img src="~/images/whatsapp.png" alt="" />
        </a>
        <a href="https://www.instagram.com/therealazimbek" target="_blank">
            <img src="~/images/instagram.png" alt="" />
        </a>
    </div>
</div>