@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a final project for .NET course. And expected result is ToDo list application with basic UI. This is License-free app</p>
