@model ToDoAppModel.ToDoItem

@{
    ViewData["Title"] = "Delete";
}

<div class="list-deteails-title">
    <div>
        <div class="back-button">
        <a title="Previous" class="emoji-action" href="javascript:void(0);" onclick="history.go(-1);"
            >&#11013;</a
        >
        </div>
        <div class="">
        <h2>Are you sure you want delete this item?</h2>
        </div>
    </div>
</div>
<div class="form">
<partial name="ItemDetailsTable" model="Model"/>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Delete" class="del"/>
    </div>
</form>
</div>
