@model ToDoAppModel.ToDoItem

@{
    ViewData["Title"] = "Details";
}

<div class="list-deteails-title">
    <div>
        <div class="back-button">
            <a title="Previous" class="emoji-action" href="javascript:void(0);" onclick="history.go(-1);">&#11013;</a>
        </div>
        <div><h2>@Model.Title</h2></div>
    </div>

    <div class="actions">
        <a title="Edit task" asp-controller="Items" asp-action="Edit" asp-route-id="@Model.Id" class="action edit">Edit task</a>
        <a title="Edit list" asp-controller="Items" asp-action="Delete" asp-route-id="@Model.Id" class="action delete">Delete task</a>
    </div>
</div>
<partial name="ItemDetailsTable" model="Model"/>