@using ToDoAppModel
@model ToDoAppModel.ToDoItem

@{
    ViewData["Title"] = "Edit";
}

<div class="list-deteails-title">
    <div>
        <div class="back-button">
            <a title="Previous" class="emoji-action" href="javascript:void(0);" onclick="history.go(-1);">&#11013;</a>
        </div>
        <div class=""><h2>Edit task: @Model.Title</h2></div>
    </div>
</div>

<div class="form">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Description" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="date">Due</label>
            <input asp-for="DueDate" class="form-control" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select asp-for="Status" class="form-control">
                <option value="@ItemStatus.Completed">Completed</option>
                <option value="@ItemStatus.InProgress">In Progress</option>
                <option value="@ItemStatus.NotStarted">Not Started</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select asp-for="TodoListId" class="form-control" asp-items="ViewBag.TodoListId"></select>
        </div>
        <div class="form-group">
            <label for="">Remind</label>
            <input type="checkbox"
                   asp-for="Remind"
                   id="remind" />
        </div>
        <div class="form-group">
            <label for="">Hidden</label>
            <input type="checkbox"
                   asp-for="IsHidden"
                   id="remind" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
