@model ToDoAppModel.ToDoList

@{
    ViewData["Title"] = "Delete";
}

<div class="back-edit">
    <a class="img-link" asp-action="Index" title="Back to lists"><img src="~/images/previous.png" /></a>
    <h1>Delete</h1>
</div>
<hr />
<div class="list-delete">
    <h3>Are you sure you want to delete this?</h3>

    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
