@using ToDoAppModel;
@model ViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3>Welcome to ToDo App Beta</h3>
    <div>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Lists" asp-action="Index">Lists</a>
        <a class="btn btn-info btn-lg" asp-area="" asp-controller="Items" asp-action="Index">Items</a>
    </div>
    <div style="font-size: 26px;">
        Made By Azimbek, with Love
    </div>
    <div class="contact">
        <a href="https://t.me/therealazimbek" target="_blank">
            <img src="images/telegram.png" alt="" />
        </a>
        <a href="https://wa.me/77076843612?text=Hi" target="_blank">
            <img src="images/whatsapp.png" alt="" />
        </a>
        <a href="https://www.instagram.com/therealazimbek" target="_blank">
            <img src="images/instagram.png" alt="" />
        </a>
    </div>

</div>
