<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F.R.I.E.N.D.S</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="flex-container">
        <header class="flex-item item-1">
            <a asp-controller="Home" asp-action="Index" class="header-nav">Home</a>
            <a asp-controller="Home" asp-action="About" class="header-nav">About</a>
        </header>
        <main class="flex-item item-3">
            <div class="main-container">
                @RenderBody()
            </div>
        </main>
        <footer class="flex-item item-5">
            <p class="footer-text">With love, Azimbek &hearts;</p>
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
