@model ViewModel

<div class="list">
    <div class="list-title">
        <h3><a asp-controller="Home" asp-action="Details" asp-route-id="@Model.TodayListId">Today</a></h3>
        <span class="ok">@Model.ToDoItems.Count(i => i.DueDate.Date == DateTime.Today && i.Status != ToDoAppModel.ItemStatus.Completed) tasks</span>
    </div>
</div>
